[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
Flask = "==2.2.5"
Flask-Table = "==0.4.1"
grequests = "*"

[dev-packages]

[requires]
python_version = "3.7"
